/*
Nathan D. Hernandez
Udacity FullStack NanoDegree
map.css

ver 0.1 - June 2017
*/

body {
	color: #777;
}
#map {
	height: 600px;
	width: 100%;
}

/* ############## NavMenu Specific #############*/
/* Responsive containers for vertical menu push */
#main-page-wrapper,
#navmenu,
.menu-toggle {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
/* The main-page-wrapper page layout DIV */
#main-page-wrapper {
	position: relative;
	left: 0;
	padding-left: 0;
}
#main-page-wrapper.active #navmenu {
	left: 218px;
	width: 218px;
}
#main-page-wrapper.active .menu-toggle {
	left: 218px;
}
/* MAIN Page body Content HEADER */
#main-page-content .header {
	margin: 0;
	color: #333;
	padding: 0.25em 4em 0;
	border-bottom: 1px solid #eee;
}
#main-page-content .header h1 {
	font-weight: 300;
	font-size: 2.5em;
	margin: 0.1em 0;
}
/* MAIN Page body CONTENT */
#main-page-content .content {
	margin: 0 auto;
	/*padding: 0 4em;*/
	max-width: 100%;
	margin-bottom: 50px;
	line-height: 1.6em;
}
/* NavMenu DIV */
#navmenu {
	margin-left: -218px;
	width: 218px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
	background: #191818;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
/* NavMenu Anchor tags */
#navmenu a {
	color: #999;
	border: none;
	padding: 0.6em 0 0.6em 0.6em;
}
/* Remove borders/background */
#navmenu .pure-menu,
#navmenu .pure-menu ul {
	border: none;
	background: transparent;
}
/* Border to separate items into groups */
#navmenu .pure-menu ul,
#navmenu .pure-menu {
	border-top: 1px solid #333;
}
/* Hover/Focus color adjustment */
#navmenu .pure-menu li a:hover,
#navmenu .pure-menu li a:focus {
	background: #333;
}
/* Selected menu item styling */
#navmenu .pure-menu-selected,
#navmenu .pure-menu-heading {
	background: #1f8dd6;
}
/* Link within selected navmenu item */
#navmenu .pure-menu-selected a {
	color: #FFFFFF;
}
/* NavMenu Heading */
#navmenu .pure-menu-heading {
	font-size: 110%;
	color: #FFFFFF;
	margin: 0;
	padding-right: 1.4em;
}
/* ---- NavMenu Responsiveness ---- */
/* Customized from PureCSS layout sample Menu examples and documentation */
.menu-toggle {
	position: fixed;
	display: block;	/* show only on small screens */
	top: 0;
	left: 0;
	background: #000;
	background: rgba(0,0,0,0.7);
	font-size: 10px; /* change to increase/decrease button size */
	z-index: 10;
	width: 2em;
	height: auto;
	padding: 2.1em 1.6em;
}
.menu-toggle:hover,
.menu-toggle:focus {
	background: #000;
}
/* Our "Hamburger" Icon <span> */
.menu-toggle span {
	position: relative;
	display: block;
}
.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
	background-color: #fff;
	width: 100%;
	height: 0.2em;
}
.menu-toggle span:before,
.menu-toggle span:after {
	position: absolute;
	margin-top: -0.6em;
	content: " ";
}
.menu-toggle span:after {
	margin-top: 0.6em;
}

/* InfoWindow and Wikipedia API specific */
.marker-info h4 {
	-webkit-margin-after: 0.5em;
}
.wikidata img {
	position: relative;
	margin: auto;
	display: block;
}
.wiki-description {
	text-align: center;
	width: 150px;
	padding-top: 8px;
	padding-bottom: 8px;
}

/* NavMenu specific MediaQueries */
@media (min-width: 48em) {
	/* Hide menu at 48em */
	#main-page-content .header {
		padding-left: 2em;
		padding-right: 2em;
	}
	#main-page-content .content {
		padding-left: 0;
		padding-right: 0;
	}
	#main-page-wrapper {
		padding-left: 218px; /* Same width as #navmenu */
		left: 0;
	}
	#navmenu {
		left: 218px;
	}
	.menu-toggle {
		position: fixed;
		left: 218px;
		display: none;
	}
	#main-page-wrapper.active .menu-toggle {
		left: 218px;
	}
}
@media (max-width: 48em) {
	/* Apply when window is small only */
	#main-page-wrapper.active {
		position: relative;
		left: 218px;
	}
	#main-page-content .header h1 {
		font-weight: 400;
		font-size: 1.8em;
	}
	#map {
		height: 500px;
	}
}
